<!doctype html>
<html>
	<head>
		<title>Everybody Votes</title>
		<meta charset="UTF-8">
		<style>
			body{
				background-image: url("http://i.imgur.com/Ml6lkXg.gif");
				background-repeat: repeat;
				}
			h1{
				font-family:verdana;
				color:white;
				white-space:nowrap;
				}
			p{
				color:white;
			}
			input.txtfield{
				border-radius:10px;
				height: 20px;
				}
		</style>
	</head>
				
	<body>
		<h1>Welcome to Everybody Votes!</h1>
		<p>Login:</p>
		<form method="post">
			<input class="txtfield" type="text" placeholder="Enter username" name="uname"></input>
			<br><br>
			<input class="txtfield" type="password" placeholder="Enter password" name="pword"></input>
			<br>
			<input type="submit" value="Submit!"></input>
		</form>
		{% if invalid %}
			<p>Incorrect username/password!</p>
		{% endif %}
		<a href="/register">Not a member? Click here!</a>
	</body>
</html>
	 
		

