<!doctype html>
<html>
	<head>
		<title>Nikita's first milestone</title>
		<meta charset="UTF-8">
		<style>
			body{
				background-image: url("http://i.imgur.com/Ml6lkXg.gif");
				background-repeat: repeat;
				}
			h1{
				font-family:verdana;
				color:white;
				white-space:nowrap;
				}
			input.txtfield{
				border-radius:10px;
				height: 20px;
				}
			div.txtfield{
				position:fixed;
				top:50%;
				right:50%;
				padding-left:250px;
				}
		</style>
	</head>
				
	<body>
	<div class="txtfield">
		<h1>Geocities<br> Appreciation<br> Station</h1>
		<p color="red">That username is taken!</p>
		<form method="post">
			<input class="txtfield" type="text" placeholder="Enter username" name="uname"></input>
			<br><br>
			<input class="txtfield" type="password" placeholder="Enter password" name="pword"></input>
			<br>
			<input type="submit" value="Submit!"></input>
	</div>
	</body>
</html>
	 
		


